<!DOCTYPE html>
<html>

<head>
    <title>Event Planning</title>
    <!-- Static assets can go in here! -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/styles.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <header class="site-header">
        <nav>
            <div class="nav-wrapper">
                <a href="/users" class="brand-logo left">Event Planning</a>
                <ul class="right">
                    <li><a href="/views/planner/new.hbs">+event</a></li>
                    <li><a href="/users/new">New User</a></li>
                </ul>
            </div>
        </nav>
    </header>
    {{{ body }}}
    <!-- The body tag is what our templates will be replacing. -->
</body>

</html>