<!DOCTYPE html>
<html>

<head>
    <title>Event Planning</title>
    <!-- Static assets can go in here! -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/styles.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <header class="site-header">
        <nav class = "green" height= "100">
            <div class="nav-wrapper">
                
                <a  href="/" class="text-center">
            <h6 class="brand-logo center">Event Planning</h6></a>
                <img  class="brand-logo left"src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/35399323_10214417165240286_8351606504557641728_n.jpg?_nc_cat=105&_nc_ht=scontent-atl3-1.xx&oh=c55490c46f73047e0345de4f89413a7f&oe=5D123E71" width="65" height="65" alt = "blah">

                

                
                <ul class="right">
                    <li><a href="/users/new">New User</a></li>
                </ul>
            </div>
        </nav>
    </header>
    {{{ body }}}
    <!-- The body tag is what our templates will be replacing. -->
</body>

</html>