<div class="container">
    <a class="btn btn-info" href="/users/new"> Add User</a>

    <h2 class="text-center">Events</h2>
{{#each users}}
<div class="card">
    <div class="card-content">
        <img class="review-img" src="{{image}}">
    </div>
</div>
{{/each}}