<h1>hello from our new user page</h1>

<form action="/users" method="POST">
    <div>
        <input type="text" name="email" placeholder="email" />
    </div>
    <div>
        <input type="text" name="password" placeholder="password" />
    </div>
    <button type="submit">Create User</button>
</form>