<h1>hello from our new user page</h1>

<form action="/users" method="POST">
    <div>
        <input type="text" name="name" placeholder="name" />
    </div>
    <div>
        <input type="text" name="phone" placeholder="Phone number without symbols Ex. 2223334444" />
    </div>
    <div>
        <input type="text" name="email" placeholder="email address" />
    </div>
    <div>
        <input type="text" name="password" placeholder="password" />
    </div>

    <div>
        <input type="text" name="image" placeholder="image link" />
    </div>
    <div>
        <input type="text" name="website" placeholder="website link" />
    </div>
    <div>
        <input type="text" name="typez" placeholder="planner, personnel, or spectator" />
    </div>
    <button type="submit">Create User</button>
</form>