<h1>Create an event!</h1>


<div class="card">
    <div class="card-content">
        <p>
            {{event.content}}
        </p>
        <a href="/users/{{userId}}/events/edit">
            <button class="btn pink">Edit</button>
        </a>
        <form action="/users/{{userId}}/events/?_method=DELETE" method="POST">
            <button class="btn pink">Delete</button>
        </form>
    </div>
</div>