<form action="/users/{{userId}}/events/{{event.id}}?_method=PUT" method="POST">
    
    <div>
        <input type="text" name="content" value="{{event.content}}" />
    </div>
    <button class="btn pink" type="submit">Edit Event</button>
</form>