<h1>LET'S CREATE AN EVENT</h1>

<form action="/users/{{userId}}/events" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="event name" />
    </div>
    <div>
        <label for="content">Description</label>
        <input type="text" name="content" placeholder="Insert a description of your event here" />
    </div>
    <div>
        <label for="image">Image</label>
        <input type="text" name="image" placeholder="image link" />
    </div>
   
    <button type="submit">Create User</button>
</form>